<div class="row bg-primary">
    <div class="col text-white text-center">FORMULARIO</div>
</div>
<form class="form-group " novalidate (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="row">
        <div class="col">
            <div class="row bg-info">
                <h3 class="text-white">Producto ID {{ _datosFormularios.id }}</h3>
            </div>
            <div class=" form-group row">
                <input class="col-12 my-2 form-control  ng-touched" type="text"
                       name="nombre"
                      [(ngModel)]="_datosFormularios.nombre"
                       required
                       minlength="4"
                       placeholder="Nombre"
                       #nombre="ngModel">
                <div *ngIf="nombre.errors?.['required']" class="col-8">Nombre Requerido</div>
                <div *ngIf="nombre.errors?.['minlength']" class="col-8">Longitud mínima 4 caracteres</div>
            </div>
            <div class=" form-group row">
                <input class="col-12 my-2 form-control ng-touched" type="number"
                       name="precio"
                       [(ngModel)]="_datosFormularios.precio"
                       required
                       min="1"
                       placeholder="Precio"
                       #precio="ngModel">
                <div *ngIf="precio.errors?.['required']" class="col-8">Precio Requerido</div>
                <div *ngIf="precio.errors?.['min']" class="col-8">Precio mínimo 1€</div>

            </div>
            <div class=" form-group row gap-1">
                <select class="col-12 my-2 form-select custom-select  ng-touched" type="text"
                       name="categoriaSelect" placeholder="Categoria"
                       [(ngModel)]="_datosFormularios.categoria"
                        required
                       #categoria="ngModel">
                    <ng-container *ngFor="let categoria of _categorias" >
                        <option  [value] = "categoria">{{categoria}}</option>
                        <hr> <!-- linea para el codigo -->
                    </ng-container>
                </select>
                <div *ngIf="categoria.errors?.['required']" class="col-12">Categoría requerida</div>

                <input class="col-12 my-2 form-control ng-touched" type="number"
                       name="nStock"
                       [(ngModel)]="_datosFormularios.nStock"
                       required
                       min="10"
                       placeholder="Stock"
                       #nstock="ngModel">
                <div *ngIf="nstock.errors?.['required']" class="col-8">Stock Requerido</div>
                <div *ngIf="nstock.errors?.['min']" class="col-8">Stock mínimo 10u</div>

                <p class="col-12 form-control" [ngClass]="{'ng-invalid ng-touched': !isRadioSelected()}">Stocks:
                    <ng-container *ngFor="let stock of _stocks">
                        <input class="mx-3" [value]="stock" type="radio" name="stock" [(ngModel)]="_datosFormularios.radStock"   >{{stock}}
                    </ng-container>
                </p>
                <div *ngIf="!isRadioSelected()" class="col-12 " >Seleccione una Opcion</div>

                <div class="py-2 my-2">Descontinuado: <input type="checkbox" [(ngModel)]="_datosFormularios.descont" name="descontinuado" (change)="onDescontinuarProducto()"></div>

                <button [disabled]="!form.valid || (!eliminado && !creado && buscado) " type="submit" id="Crear" class=" col-3 btn btn-primary my-2">Crear
                </button>
                <button [disabled]="!form.valid || (!editado && !buscado)  " type="submit" id="Grabar" class=" col-3 btn btn-primary my-2">Grabar
                </button>
                <button [disabled]= "editado || buscado" type="button" id="Nuevo" class=" col-3 btn btn-primary my-2" (click)="resetProducto()">Nuevo
                </button>

            </div>
            <div class="warning bg-warning" *ngIf="buscado && hecho">
                Elemento buscado: {{ buscado?.id }}, {{ buscado?.nombre }}, {{ buscado?.precio }}
                , {{ buscado?.categoria }}, {{buscado.radStock}}, {{buscado.descont}}
            </div>
            <div class="warning bg-warning" *ngIf="editado && hecho">
                Elemento editado: {{ editado?.id }}, {{ editado?.nombre }}, {{ editado?.precio }},
                {{ editado?.categoria }}, {{editado.radStock}}, {{editado.descont}}
            </div>
            <div class="warning bg-warning" *ngIf="eliminado && hecho">
                Elemento eliminado: {{ eliminado?.id }}, {{ eliminado?.nombre }}, {{ eliminado?.precio }}
                , {{ eliminado?.categoria }}, {{eliminado.radStock}}, {{eliminado.descont}}
            </div>
            <div class="warning bg-warning" *ngIf="creado && hecho">
                Elemento creado: {{ creado?.id }}, {{ creado?.nombre }}, {{ creado?.precio }}
                , {{ creado?.categoria }}, {{creado.radStock}}, {{creado.descont}}
            </div>

            <div class="warning bg-warning"
                 *ngIf="!hecho">

            </div>
        </div>
    </div>
</form>
<!--{{ datosFormularios | json }}-->
