<div class="row bg-primary">
<div class="col text-white text-center">FORMULARIO</div>
</div>
<form class="form-group" [formGroup]="dForm" novalidate (ngSubmit)="enviar()" #dform="ngForm">
    <div class="row">
        <div class="col">
            <div form-group row>
                <input class="col my-2 form-control ng-touched" type="text"
                       formControlName="nombre"
                       required
                       minlength="4"
                       placeholder="Nombre">
                <div *ngIf="dForm.controls['nombre'].errors?.['required']" class="col-8 invalid-feedback">Nombre Requerido</div>
                <div *ngIf="dForm.controls['nombre'].errors?.['min-length']" class="col-8 invalid-feedback">Longitud Minima 4</div>
            </div>
            <div form-group row>
                <input class="col my-2 form-control ng-touched" type="number"
                       formControlName="edad"
                       required
                       min="18"
                       placeholder="Edad">
                <div *ngIf="dForm.controls['edad'].errors?.['required']" class="col-8 invalid-feedback">Edad Requerida</div>
                <div *ngIf="dForm.controls['edad'].errors?.['min']" class="col-8 invalid-feedback">Edad Minima 18</div>
            </div>

            <div form-group row>
                <input class="col my-2 form-control ng-touched" type="email"
                       formControlName="email"
                       required
                       minlength="9"
                       pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                       placeholder="E-mail">
                <div *ngIf="dForm.controls['email'].errors?.['required']" class="col-8 invalid-feedback">Email Requerido</div>
                <div *ngIf="dForm.controls['email'].errors?.['min-length']" class="col-8 invalid-feedback">Longitud Minima 4</div>
                <div *ngIf="dForm.controls['email'].errors?.['pattern']" class="col-8 invalid-feedback">Introduzca un email válido</div>
            </div>

            <div form-group row>
                <input class="col my-2 form-control ng-touched" type="text"
                       formControlName="profesion"
                       required
                       minlength="4"
                       placeholder="Profesion" >
                <div *ngIf="dForm.controls['profesion'].errors?.['required']" class="col-8 invalid-feedback">Profesion Requerido</div>
                <div *ngIf="dForm.controls['profesion'].errors?.['min-length']" class="col-8 invalid-feedback">Longitud Minima 4</div>
                <button [disabled]="!dForm.valid" type="submit" id="submit" class=" col-6 btn btn-primary my-2">Enviar</button>
            </div>

        </div>
    </div>
</form>
{{ dForm | json }}

